html {
  font-family: Lato, sans-serif;
  font-weight: normal;
  color: var(--color-black-68);
}

*, *:before, *:after {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h6 {
  margin-top: 0;
  color: var(--color-black-17);
  font-weight: bold;
}

h1 { font-size: var(--font-p30); }
h2 { font-size: var(--font-p26); }
h3 { font-size: var(--font-p22); }
h4 { font-size: var(--font-p20); }
h5 { font-size: var(--font-p18); }
h6 { font-size: var(--font-p16); }

p {
  margin-top: 0;
  color: var(--color-black-30);
  font-size: var(--font-p14);
}